extends layout

block content

  ul.inventoryList 
    each item in items
      li
        ul.itemDetails
          strong= 'Cat. #: ' + item.catno
          li <strong>Description:</strong> #{item.desc} 
          li <strong>Manufacturer:</strong> #{item.mfr}
          li <strong>Qty:</strong> #{item.qty.avail} 
          li <strong>Price:</strong> #{(item.cost / (1 - item.defMgn)).toFixed(2) + (item.uom !== undefined ? '/' + item.uom : '')}
          - var url = `/product/${item._id}/`
          form(method='GET' action=`${url}`)
            input(type='Submit' value='View Item')